<table class="table">
    <tr>
        <th>Student</th>
        <th>turtle</th>
        <th>bird</th>
        <th>movie</th>
        <th>pond</th>
        <th>maze</th>
        



    </tr>
    <tr>
        <td>qqqq@qq.com</td>
        <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
     <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
        </tr>
    <tr>
        <td>22222@qq.com/td>
        <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
    </tr>
    <tr>
        <td>994979136kk@gmail.com</td>
        <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
    </tr>
    <tr>
        <td>wwww@qq.com</td>
      
        <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td><td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
     
    </tr>
    <tr>
        <td>zhaokk@qq.com</td>
        <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td><td>
<span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
        
    </tr>


</table>