

<link href="~/Content/banner/css" rel="stylesheet" type="text/css">
<link href="~/Content/banner/css(1)" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="~/Content/banner/style.min.css">










    <div id="bg" style="top: 40px; bottom: auto; left: 0px; right: auto;">
        <a class="ion-close-circled close_lightbox" href=""></a>

    </div>

<header>
    <h1 class="logo" style="
    font-family: 'Audiowide', cursive;
"><a href="~/">&nbsp;&nbsp;Codebar</a></h1>
    <h2 class="subline">A website for young kids to learn programming</h2>
    <span class="bg"></span>
    <img class="sun" src="~/Content/banner/sun.svg">
    <img class="plane" src="~/Content/banner/plane.svg">
    <img class="blimp" src="~/Content/banner/blimp.svg">
    </header>