body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
.panel-body h4 {
    margin-bottom:20px;

}
/*h2 {
font-size:30px !important;
}*/
#lifeCycle {
    
}
.nav-tabs {
margin-bottom:15px;
}

/*lifecycle video*/
.LifeCyclevideo {
    position: absolute;
    background: rgba(196, 196, 196, 0.9);
    border-radius: 5px;
    z-index: 99;
    height: 75vh;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 10vh;
    padding-bottom: 10vw;
    text-align: center;

}
body .navbar {
z-index:5;
}