@{
    ViewBag.Title = "About";
}
<link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
<hgroup>
<h1 style="font-family: 'Montserrat', sans-serif;     font-size: 187px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    color: #449BB6;
    text-align: center;
    margin-bottom: 17px;">we teach you code with fun</h1>
</hgroup>
<div class="row-fluid">
    <div class="span12">

    </div>
</div>